@import url("https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,400;1,500;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #4b52db;
  width: 100%;
}
/*header design*/

.header {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
}

/*header items design*/
a {
  color: white;
  text-decoration: none;
}
.header ul li h3 {
  color: white;
}
.menu-bar {
  width: 10%;
  position: relative;
  cursor: pointer;
}
.fa-bars {
  color: white;
  font-size: 30px;
  padding-left: 5px;
}
.fa-hacker-news {
  color: white;
  font-size: 30px;
}
.header-txt {
  width: 80%;
  text-align: center;
  color: white;
  font-size: 30px;
}
.user-icon {
  width: 10%;
  text-align: right;
  color: white;
  font-size: 30px;
}

/* sidebar design*/

.side-bar {
  background-color: darkslategray;
  position: absolute;
  top: -13px;
  left: -280px;
  box-shadow: 0px 0px 10px black;
  width: 260px;
  transition: all 0.4s;
  /* display: none; */
  border-bottom-right-radius: 30px;
}

.side-bar.active {
  left: -13px;
}

.side-bar ul li i {
  margin-right: 10px;
  text-align: left;
}

#close-btn {
  color: white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  position: relative;
  top: 0;
  left: 250px;
  left: 200px;
}
.fa-xmark {
  padding: 0px 5px;
}

.fa-xmark:hover {
  outline: 4px solid gray;
  border-radius: 5px;
}

.side-bar ul {
  width: 280px;
  list-style: none;
  padding: 10px;
}

.side-bar ul li {
  border: 2px solid gray;
  margin: 20px 20px;
  padding: 10px;
  flex-shrink: 1;
  border-radius: 20px;
}

.side-bar ul li a {
  font-size: 18px;
  letter-spacing: 1px;
}

/*---------all hovers--------*/

.side-bar ul li:hover a {
  color: black;
}

.side-bar ul li:hover {
  background-color: aliceblue;
  color: black;
}
